@model IEnumerable<blogGudkov.ViewModels.Blog.BlogPostItemViewModel>

<h1>Все посты: </h1>

@foreach (var post in Model)
{
    <div class="card text-center">
        <h1 class="card-title">@post.Title</h1>
        <p>@post.Data</p>
        <p>Размещено пользователем: @post.Author</p>
        <p>Дата размещения: @post.Created</p>
    </div>
}