@{
    ViewData["Title"] = "Gudkov Blog";
}

<div class="card text-center">
    <h1 class="card-title">Это блог Gudkov</h1>
    <p>Это блог Максима Gudkov`а. Тут просто будут его мысли. Спасибо!</p>
</div>
